<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <%data.forEach(data=>{%>
        <h3><%=data.title%></h3>
        <img src="<%=data.image_url%>" alt="">
        <p><%=data.overview%></p>
        <a href="details/<%=data.id%>"><button>details</button></a>

        <%})%>
    </div>
</body>
</html>